body {
    background-color:lightgoldenrodyellow;
}

#welcome {
    color: white;
}

b{
    text-decoration:underline;
}
main{
    font-family:'Comic Sans MS',Arial,serif;
    font-size:x-large;
}

table,
th,
td{
    border: 1px solid black
}